.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.searchResult{
  text-align :center;
  display: inline-block;
  height: 100%;
  width: 200px;
  vertical-align: text-top;
  margin: 0px;
  padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  width: 15%;
  display: flex;
  background-color: gray;
  border-radius: 5px;
}
.sidebarText {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 20px;
}

.title {
  display:flex;
  margin-bottom: 20px;
}

ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  list-style-image: url("../bee.png");
  margin-top: -20px;
}
li:hover {
  text-decoration:underline;
}

li {
  margin: 10px 0px 0px 10px;
  cursor: pointer;
}